<div *ngIf="showTransactionsModal">
  <div class="custom-backdrop">
    <div class="modal fade show d-block" tabindex="-1">
      <div role="document" class="modal-dialog modal-lg" style="margin-top: 152px;">
        <div class="modal-content">
          <div>
            <button type="button" class="btn-close m-2" style="float: right;" data-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
          </div>
          <div class="modal-body">
            <div class="container mb-3 d-flex justify-content-center">
              <div class="col-md-8">
                <table class="table table-bordered table-hover">
                  <thead>
                    <tr class="table-primary">
                      <th>Symbol</th>
                      <th>Entry Price</th>
                      <th>Shares Bought</th>
                      <th>Entry Date</th>
                      <th>Stop Loss</th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngIf="transactionsByTradeId$ | async as transactionsByTradeId">

                      <ng-container *ngFor="let item of transactionsByTradeId">
                        <tr>
                          <td>{{item.stock_symbol}}</td>
                          <td>{{item.entry_price | currency: 'USD':'symbol':'1.2-2'}}</td>
                          <td>{{item.shares_bought}}</td>
                          <td>{{item.entry_date | date: 'MM/dd/yyyy'}}</td>
                          <td>{{item.dollar_stop_loss | currency: 'USD':'symbol':'1.2-2'}}</td>
                        </tr>
                      </ng-container>
                    </ng-container>
                  </tbody>
                </table>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  
