
body {
  background-color: #242935;
}

.card-color {
  background-color: #D8DCDF;
}

.modal-color {
    background-color: #f0f0f0;
}

.nav-color {
    background-color: white;
}

.custom-backdrop {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed; /* Ensures it covers the entire screen */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1040; /* Ensure it is above other content but below the modal */
}

.ng-invalid.ng-touched, ng.ng-invalid.ng-dirty {
    border-color: red;
}

.error-message {
    color: red;
    font-size: 0.8rem;
}

input[disabled] {
  background-color: #e9ecef; /* Light gray background for disabled inputs */
  color: #515356;
  cursor: not-allowed; /* Cursor to indicate that the field is not editable */
}

.btn-xs {
  padding: 2px 5px;
  font-size: 14px;
  line-height: 1.5;
}

.table-rounded {
  border-radius: 10px; /* Adjust as needed */
  overflow: hidden; /* Ensure rounded corners are visible */
  border: 1px solid #ddd; /* Optional: Add a border to the table */
}
