<div class="input-form">
  <h2>New Transaction</h2>
  <form>
    <div class="container mt-4 mb-3">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="symbol">Stock Symbol</label>
              <input type="text" class="form-control" id="symbol" name="symbol">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="buyprice">Buy Price</label>
              <input type="text" class="form-control" id="buyprice" name="buyprice">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="buydate">Buy Date</label>
              <input type="text" class="form-control" id="buydate" name="buydate">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="buyamount"># Shares Bought</label>
              <input type="text" class="form-control" id="buyamount" name="buyamount">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="stoploss">$ Stop Loss</label>
              <input type="text" class="form-control" id="stoploss" name="stoploss">
            </div>
          </div>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>


