<router-outlet></router-outlet>

<h2>{{title}}</h2>
<div class="mx-4 mt-4">
  <button (click)="showForm = !showForm" class="btn btn-success">Add New Trade</button>
</div>


<div class="container mt-5">
  <app-add-transaction *ngIf="showForm" [showForm]="showForm" (closeForm)="showForm = false"></app-add-transaction>
</div>

<!--<div *ngIf="singleTransaction$ | async as transaction">
  <div>{{ transaction.stock_symbol }}</div>
</div>

<div *ngIf="transactions$ | async as transactions">
  <div *ngFor="let item of transactions">
    <p>{{ item.stock_symbol }}</p>
  </div>
</div>-->
